.recipe-detail{
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
  justify-content: center;
}

.recipe-left{
  /* border: 1px solid black; */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 60%;
  text-align: center;
}

.transparent-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(82, 79, 79, 0.28);
  width: 80%;
  height: 65%;
  border-radius: 20px;
}

.recipe-image{
  background-color: white;
  width: 65%;
  height: 55%;
  border-radius: 20px;
  margin:20px 0px;
}

.recipe-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.info-button {
  background-color: #524F4F;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  margin: 10px 20px;
  font-family: 'Open Sans', sans-serif;
}

.diet-button {
  background-color: #78947E;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 10px 5px;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

.recipe-summary{
  width: 90%;
  height: 70%;
}

.recipe-summary h1{
 font-size: 1.5em;
}

.recipe-text{
  font-family: 'Open Sans', sans-serif;
  color:black;
  text-align: left;
  font-size: 12px;
  line-height: 23px;
}

.recipe-text p{
 font-size: 12px;
 font-family: 'Open Sans', sans-serif;
 text-align: center;
 line-height: 15px;
}

.recipe-text li {
  margin: 5px;
}

h1{
  font-family: 'Libre Baskerville', serif;
}

p{
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */

  .recipe-left{
    width: 50%;
  }

  .recipe-right{
    width: 50%;
  }

  .transparent-box{
    height:40%;
  }
}

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  .recipe-summary h1{
    font-size: .7em;
  }

  .diet-button{
    font-size: 5px;
  }

  .recipe-text{
    font-size: 6px;
    line-height: 12px;
    font-weight: 100;
    text-align: justify;
  }

  .recipe-text p {
    font-size: 6px;
    line-height: 10px;
  }

  .transparent-box{
    height: 30%;
    margin-top: 100px;
  }

  .info-button{
    font-size: 7px;
    padding: 4px 10px;
    margin-top: 0px;
  }

  .recipe-left{
    align-items: flex-start;
  }

  .input {
    width: 170px;
    font-size: 15px;
    margin: 0px;
    height: 40px;
    line-height: 30px;
  }
  
  .search-button {
    height: 37px;
    font-size: 10px;
    width: 50px;
  }

  .recipe-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .recipe-list div {
    margin: 5px;
  }

  .recipe-image-div p {
    font-size: 5px;
  }
}