.home-div{
margin: 0 auto;
/* border: 3px solid black; */
/* height: 50%; */
width: 60%;
text-align: center;
}

.home-div h1{
  font-family: 'Libre Baskerville', serif;
  font-size: 75px;
  margin-bottom: 10px;
}

.home-div h4{
  font-family: 'Libre Baskerville', serif;
  font-weight: 100;
  font-size: 20px;
  margin: 0 auto;
}

.home-div p {
  margin: 25px 0px;
  padding: 25px 70px;
  font-weight: 300;
  line-height: 23px;
  font-size: 15px;
}

.home-div button {
  background-color: #524F4F;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  margin: 20px;
}

.home-div Link button :hover{
  background-color: #2F2C2C
}

@media only screen and (max-width: 768px) {
  /* default iPad screens */
.home-div p {
  padding: 25px 0px
}
}

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; 
  (iPhone) */
.home-div h1 {
  font-size: 50px;
}

.home-div p {
  font-size: 11px;
  line-height: 20px;
}
}