.recipe-list {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 20px;
 
}

.recipe-list div{
  height: 160px;
  width: 160px;
  border-radius: 20px;
  background-color: white ;
  box-shadow: 5px 5px 10px #524F4F;

}

.total-div{
  text-align: center;
}

input{
  margin: 50px 0px 50px 50px;
  outline: none;
  border: none;
  width: 400px;
  height: 40px;
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
}

input[type=text]:focus {
  box-shadow: 0px 0px 10px #524F4F;
  outline: none;
}

.recipe-image-div{
  display: flex;
  flex-direction: column;
}

.recipe-image-div img{
  height: 75%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.recipe-image-div p{
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 200;
  color: black;
}

.search-button {
  height: 40px;
  width: 70px;
  border-radius: 0px;
  margin: 50px 0px;
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 200px;
  outline: none;
  border: none;
  background-color: #524F4F;
  color: white;

}

button :hover {
  background-color: black;
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
  .recipe-list{
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .recipe-list div{
    height: 150px;
    width: 150px;
    margin: 5px;
  }

  .recipe-image-div p{
    font-size: 7px;
  }

}

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; 
  (iPhone) */

.recipe-list{
  justify-content: center;
}  

.recipe-list div {
  height: 80px;
  width: 80px;
}

input {
  width:150px;
  height: 37px;
  font-size: 15px;
}

.recipe-image-div p {
  font-size: 4px;
}
}