.recipe-list {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 20px;
 
}

.recipe-list div{
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background-color: white ;
  box-shadow: 5px 5px 10px #524F4F;

}

.total-div{
  text-align: center;
}

input{
  margin: 50px;
  outline: none;
  border: none;
  width: 400px;
  height: 40px;
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
}

input[type=text]:focus {
  box-shadow: 0px 0px 10px #524F4F;
  /* border: 1px solid #524F4F; */
  outline: none;
}

.recipe-image-div{
  display: flex;
  flex-direction: column;
}

.recipe-image-div img{
  height: 75%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.recipe-image-div p{
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 200;
  color: black;
}