.summary-div{
  width: 85%;
  height: 80%;
  display: flex;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.summary-div div{
  height: 100%;
  width: 35%;
  margin: 0 10px;
  border-radius: 20px;
  background-color: rgba(255,255,255,.5);
  text-align: center;
}

.summary-div h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
}

.summary-div p {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.summary-div button {
  background-color: #524F4F;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  padding: 2px 10px;
  height: 15px;
}

a{
  text-decoration: none;
}

div .left{
  text-align: left;
}

div .right{
  text-align: right;
}

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; 
  (iPhone) */
.summary-div h2{
font-size: 8px;
}

.summary-div p {
  font-size: 8px;
}

.summary-div button {
  font-size: 5px;
  padding: 0px 5px;
}

.summary-div div {
  margin: 0 3px;
}
}