.summary-div{
  width: 85%;
  height: 80%;
  display: flex;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.summary-div div{
  height: 100%;
  width: 35%;
  margin: 0 10px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
}

.summary-div h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
}

.summary-div p {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-decoration: none;
  color: white;
}

.summary-div button {
  background-color: #524F4F;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
}

a{
  text-decoration: none;
}
