.window-div{
  background-image: url("https://i.ibb.co/9bcvL6F/prep-Nchef-1366x768-background-2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
